<div class="conteiner__menu-bar">
  <div class="menu-bar__logo">
    <a href="index.html"><img src="/assets/imgs/logo.png"></a>
  </div>
  <div class="menu-bar__links">
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><span>•</span></li>
      <li><a href="#">Sobre</a></li>
      <li><span>•</span></li>
      <li><a href="https://www.tecmundo.com.br/inteligencia-artificial" target="_blank">Notícias</a></li>
      
    </ul>
  </div>
  <div class="menu-bar__search">
    <form action="search.html" method="GET">
      <input type="text" name="q" placeholder="Buscar..." class="search-input">
      <button type="submit" class="search-button"><img src="/assets/imgs/procurar.png"></button>
    </form>
  </div>
  <div class="menu-bar__social">
    <ul>
      <li><a href="https://www.linkedin.com/in/pedro-fraga-ab85b1257/" target="_blank"><img src="/assets/imgs/login.png"></a></li>
      
    </ul>
  </div>
</div>
