<div class="container__menu-footer">
  <div class="menu-footer__logo">
    <a href="index.html"><img src="/assets/imgs/logo.png" alt="Logo"></a>
  </div>

  <div class="menu-footer__links">
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><span>•</span></li>
      <li><a href="#">Sobre</a></li>
      <li><span>•</span></li>
      <li><a href="https://www.tecmundo.com.br/inteligencia-artificial" target="_blank">Notícias</a></li>
      
    </ul>
  </div>

  <div class="menu-footer__social">
    <ul>
      <li><a href="https://www.linkedin.com/in/pedro-fraga-ab85b1257/" target="_blank"><img src="/assets/imgs/linkedin.png" alt="LinkedIn"></a></li>
      <li><a href="https://github.com/PedroFraga1133" target="_blank"><img src="/assets/imgs/github.png" alt="GitHub"></a></li>
      <li><a href="https://pedrofraga.netlify.app/" target="_blank"><img src="/assets/imgs/rede.png" alt="Instagram"></a></li>
    </ul>
  </div>
</div>
