.container__menu-footer {
  display: flex;
  flex-direction: row;
  padding: 20px 0;
}

.menu-footer__logo{
  margin-right: 600px;
}

.menu-footer__logo img {
  width: 30px;
}

.menu-footer__links{
  margin-right: 30px;
}

.menu-footer__links ul {
  list-style: none;
  font-weight: 900;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.menu-footer__links span {
  color: #5390E3;
}

.menu-footer__links a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.menu-footer__links a:hover {
  text-decoration: underline;
}

.menu-footer__social ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.menu-footer__social img {
  width: 32px;
}
