<app-menu-title></app-menu-title>
<section class="destaques">
  <div class="header">
      <h2><img src="/assets/imgs/icon-star.png" alt="" style="width: 40px;"> Destaques<span class="dot">.</span></h2>
      
     
  </div>
  <div class="grid-container">
    <div class="bock-left">
    <article class="main-article">
      <a href="https://www.dio.me/bootcamp/microsoft-azure-ai-fundamentals" target="_blank">
          <img src="/assets/imgs/macbook.png" alt="Macbook">
          <div class="overlay">
             
              <h2>Bootcamp Gratuito Microsoft Azure AI Fundamentals: Conquiste sua Certificação AI-900 e Destaque-se na IA!</h2>
              
          </div>
        </a>
      </article>
    </div>  
      <div class="bock-right">
      <article class="horizontal-article">
        <a href="https://www.tecmundo.com.br/seguranca/403644-openai-vai-pagar-mais-de-r-500-mil-pela-descoberta-de-bugs-e-falhas-no-chatgpt.htm" target="_blank">
          <img src="/assets/imgs/cinema.png" alt="Cinema">
          <div class="overlay">
             
              <h3>OpenAI vai pagar mais de R$ 500 mil pela descoberta de bugs e falhas no ChatGPT</h3>
          </div>
          </a>
      </article>
      
      <article class="small-article">
        <a href="https://www.tecmundo.com.br/internet/403693-apos-liberar-criacao-gratuita-de-imagens-chatgpt-apresenta-instabilidade-nesta-terca-01.htm" target="_blank">
          <img src="/assets/imgs/pcgamer.png" alt="PC Gamer">
          <div class="overlay">
              
              <h3>ChatGPT caiu? Após liberar criação gratuita de imagens, sistema apresenta instabilidade.</h3>
          </div>
          </a>
      </article>
      <article class="small-article">
        <a href="https://www.tecmundo.com.br/mercado/403304-openai-sugere-ao-governo-trump-que-bloqueie-a-ia-deepseek-nos-estados-unidos.htm" target="_blank">
          <img src="/assets/imgs/camera.png" alt="Câmera">
          <div class="overlay">
              
              <h3>OpenAI sugere ao governo Trump que bloqueie a IA DeepSeek nos Estados Unidos</h3>
          </div>
          </a>
      </article>
    </div>
  </div>
</section>

<section>
<div class="articles__title header">
  <h2><img src="/assets/imgs/icon-book.png" alt="" style="width: 40px;">Artigos<span class="dot">.</span></h2>
</div>
<div class="articles__popular">
  <app-popular-card
  Id="5"
  photoCover="/assets/imgs/iagenerativa.jpg"
  cardTitle="Guia Sobre Inteligência Artificial Generativa"
  cardDescription="Você provavelmente já ouviu falar de ferramentas baseadas em Inteligência Artificial (IA) generativa, como ChatGPT, DALL-E e GitHub Copilot, entre outras. Essas ferramentas estão recebendo cada vez mais atenção graças ao fato de permitirem que qualquer pessoa crie conteúdo, desde texto para e-mail marketing, código para criação de web sites ou mesmo arte, usando Inteligência Artificial..."></app-popular-card>
  <app-popular-card
  Id="6"
  photoCover="/assets/imgs/machine.webp"
  cardTitle="Machine Learning na Medicina: Revisão e Aplicabilidade"
  cardDescription="O avanço da inteligência artificial tem transformado diversas áreas, e a medicina não é exceção. O Machine Learning (ML) tem sido amplamente aplicado para melhorar diagnósticos, prever doenças e personalizar tratamentos. Modelos de aprendizado profundo auxiliam na detecção precoce de condições como câncer e doenças neurológicas, analisando imagens médicas com precisão superior à dos métodos tradicionais."></app-popular-card>
  <app-popular-card
  Id="7"
  photoCover="/assets/imgs/saude.webp"
  cardTitle="Ciência de Dados e Big Data: O Que Isso Significa para Estudos Populacionais e da Saúde?"
  cardDescription="A ciência de dados e o Big Data estão revolucionando a forma como analisamos informações em larga escala, especialmente no campo da saúde e dos estudos populacionais. Com grandes volumes de dados sendo gerados diariamente por hospitais, laboratórios e dispositivos vestíveis, a capacidade de processar e interpretar essas informações se tornou essencial para a tomada de decisões médicas e políticas públicas."></app-popular-card>
</div>
</section>